@import ../../sass/variables
    
.sidebarcontainer
    width: 100%
    height: 100%
    padding: 2rem
    &__linkitem
        display: flex
        padding: 5px
        justify-content: "center"
        align-items: center
        gap: 1rem
        margin-bottom: calc(var(--index)*1) 
        transition: all 0.2s
        &:hover
            background: #0000003d
            border-radius: 20px
            transition: all 0.2s

       
